

.demo a{ float:left; margin:0; padding:0; margin:5px !important; display:block;  width:132px; height:84px;}
.demo a img{ float:left; margin:0; padding:0; margin:0; background-color: #141111; width:132px; height:84px; border:#c9c8c7 solid 3px;}

